body {
    background-image: url('../../assets/images/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.2);
    /* Adjust the alpha value for transparency */
    margin: 0;
    /* Remove default margin to avoid spacing */
    padding: 0;
    /* Remove default padding to avoid spacing */
}

.dashboardContainer {
    width: 60%;
    margin: 0 auto;
    margin-top: 150px;
    height: 500px;
    background-color: aqua;
    /* background-image: url('../../assets/images/cover.avif'); */
}

img.dashimg {
    max-width: 50%;
    max-height: 60%;
    margin: 0 auto;
}

.dashcol {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.dashcol:hover {
    transform: scale(1.05);
    filter: grayscale(100%);
}

.odd {
    background-color: rgb(160, 160, 160);
}

.even {
    background-color: rgb(228, 228, 228);
}

h1.dashh1 {
    font-size: 3vw;
    font-family: 'Nunito Sans', sans-serif;
}

.cardImage {
    width: 100px;
    /* Adjust the width to your preference */
    height: 100px;
    /* Adjust the height to maintain the aspect ratio */
}